/* bộ sưu tập và 1 số phần chung */
.page-title-head {
    padding: 35px 0;
}

.page-title-head .font-playfair {
    font-size: 28px;
    color: #333;
    display: block;
    line-height: 100%;
}

.font-playfair {
    font-family: "Montserrat", sans-serif  ;
    font-weight: 400;
}

.list-text > h3 {
    font-family: "Montserrat", sans-serif  ;
}

.product-details .list-text > h5, .product-details .list-text > h3 {
    font-size: 13px;
}

.rickowens{
    font-size: 1.375rem;
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:black;
    letter-spacing: 2px;
}

.rickowenss{
    font-size: small;
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:black;
    letter-spacing: 2px;
}

.rickowens1{
    font-size: 6rem;
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:black;
    letter-spacing: 50px;
}

.selectsize{
    font-size: 1rem;
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:black;
    letter-spacing: 1px;
}

.list-text > h5 {
    font-size: 20px !important; 
    font-weight: bold !important;
    font-size: 1.375rem !important;
    margin-bottom: 30px !important;    
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #0b0b0b;
    padding-top: 0%;
    margin: 0 0 0px;
}

.btn-group>.btn, .btn-group-vertical>.btn { 
    background-color: transparent;
}

.btn-group{
    padding-top: 10px !important; 
}

.submit-text > button, .submit-text a {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    background-color: black !important;
    color: white !important;
    border-radius: 0 !important;
    width: 360px;
}
.font{
    font-family: "Montserrat", sans-serif !important ;
    font-size: smaller;

}
.btn-dark{
    background-color: black !important;
    color:white !important;
    border-radius: 0 !important;   
    width: 360px; 
}

.btn-darkkk{
    background-color: black !important;
    color:white !important;
    border-radius: 0 !important;   
    width: 440px !important;
}


.btn-darkk{
    background-color: black !important;
    color:white !important;
    border-radius: 0 !important;   
    width: 315px; 
}
.product-details .plus-minus-box {
    color: #696969;
}
.plus-minus{
    padding-left: 10px !important; 
    padding-top: 10px !important; 
    border: 0 !important; 
}
.mota{
    font-size: 10px !important;
    width: 90%;
    padding-top: 5px!important;
}
footer, .latest-blog, .single-products, .service-text, .coming-product.coming-product2 {
    background: #ffffff none repeat scroll 0 0;
}

.footer-two .footer-top, .pages {
    background: #ffffff;
}
.is-text-center {
    text-align: center;
}
.btn-btn-default{
    padding: 0;
    border: none;
    background: none;
}
strong {
    font-weight: bold;
}

.album-filter {
    border-bottom: 1px solid #313132;
    height: 47px;
    
}

.album-filter .active, .album-filter li:hover {
    border-bottom: 2px solid #5F5F5F;
}

.album-filter li {
    float: left;
    padding: 10px 35px;
    font-size: 16px;
    color: #5F5F5F;
    cursor: pointer;
}
ul {
    margin: 0;
    padding: 0;
    left: 50px;
    right: 50px;
}

.imageBox {
    position: relative;
    float: left;
  }
.imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
	display: block;
	cursor: pointer;	
  }
  
.footer-top-section-padding{
    background-color: white !important;
    clear: both;
} 

.single-box-item-first-box{
    text-align: right;
}

.col-lg-12{
    display: inline-block;
}

.col-lg-6{
    display: inline-block;
}

.bags img{
    float: right;
}

.rowfoot li{
    background-color: white !important;
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
    font-size:16.3px;
    
}

.contact-button{
    position: absolute;
    right: 0   ;
}

.lienhe{
    font-family: "Montserrat", sans-serif !important ;
    text-align: left;
    font-size: small;
    font-weight: 100 !important;
    letter-spacing: 2px;
    color: #0b0b0b;
}

.lienhe3{
    font-family: "Montserrat", sans-serif !important ;
    text-align: left;
    font-size: smaller;
    font-weight: 100 !important;
    letter-spacing: 0px;
    color: #0b0b0b;
}

input[type=submit] {
    background-color: black !important;
    color:white !important;
    border-radius: 0 !important;   
    width: 540px;
}


.lienhe2{
    font-family: "Montserrat", sans-serif !important ;
    text-align: left;
    font-size: smaller;
    font-weight: bold !important;
    letter-spacing: 2px;
    color: #0b0b0b;
}


#lienhe{
    padding-top: 10px;
    padding-left: 95px;
    font-family: "Montserrat", sans-serif !important ;
    color: #0b0b0b;
}

.rowfoot li:not(:last-child):after {
    content: "    |    ";
    margin-left: 15px;
    }

single-product {
  background-color: white !important;
}

.product-dsc > p a{
    font-family: "Montserrat", sans-serif !important ;
    text-align: left;
    font-size: small;
}

.product-dsc > span {
    color: black;
    font-size: medium;
    font-weight: 10;
    display:table-cell;
    vertical-align:left;
}

header.header-one {
position: static;
}

.header1 {
    font-family: "Montserrat", sans-serif !important ;
    border: none !important;
    outline: none !important;
    }

.header-top-two {
    background-color: white !important;
}    

 .logo {
        float: left;
    }

    .logohome {
        padding-top: 100px;
        width: 20%;
        height: 20% ;
    }

 .counting {   
    position: relative; 
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1em;
    top: -60px;
    right: -100px;
      }

.cart { position: relative; top: -15px; }

video::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-play-button, video::-webkit-media-controls-pausebutton {
    display: none;
}

html {
    font-size: 14px;
    color: -internal-root-color;
}
div {
    display: block;
}
.legal-note{
    clear: both;
    text-align: right;
    background-color: white !important;
    text-decoration-color: #0b0b0b;
}

.containerr{
    float: right;
}

.container-body {
    width: 80%;
    min-height: calc(100vh - 375px);
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1300px;
}

section {
    display: block;
}

.container-body .list-album {
    margin-top: 40px;
}



.is-wrap-flex {
    display: flex;
    flex-wrap: wrap;
}

.item-div {
    width: 23%;
    min-width: 243.234px;
    padding: 8px;
    margin-bottom: 10px;
}

.item-div{
    
    height: 60%; 
    
}
/*
#li1{
    background-color:red;
    
}
#li2{
    background-color: yellow;
}
#li3{
    background-color: blue;
}
#li4{
    background-color: black;
}
*/
.divanhtrai{
    float: left;
    min-width: 156.95px;
    width: 67%;
    /* min-height: 242px; */
    padding: 2px;
    box-sizing: border-box;
    /*flex-grow: 2;*/
    
    
}

.anhtrai{
    min-width: 156.95px;
    width: 100%;
    height: 100%;

}
.divanhphai{
    
    /*flex-grow: 1;*/
    width: 32%;
    min-width: 75.828px;
    height: 100%;
    padding: 2px;
    padding-left: 0px;
    box-sizing: border-box;
}
.anhphaitren{
    min-width: 75.83px;
    width: 100%;
    height: 118px;
    /*height: 50%;*/
    padding-bottom: 2px;
}
.anhphaiduoi{
    min-width: 75.83px;
    width: 100%;
    height: 118px;
    /*height: 50%;*/
}
.anhbst{
    height: 70%;
    line-height: 0px;
    display: flex;
}
.chubst{
    height: 30%;
    display: block;
    margin-top: 10px;
}
.chuto{
    font-size: 17px;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    
}

/* liên hệ */

.container-body {
    width: 80%;
    min-height: calc(100vh - 375px);
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1300px;
}

.container-body .page-wrap .page-title-head {
    padding-bottom: 35px;
}

.container-body .contact-wrap .contact-center-wrap {
    width: 500px;
    margin: 0 auto 50px;
}

.container-body .contact-wrap .contact-center-wrap .contact-content strong {
    line-height: 150%;
    margin-bottom: 10px;
    display: block;
}

.container-body .contact-wrap .contact-center-wrap .contact-content {
    padding: 0 15px;
}

input {
    font-family: "Montserrat", sans-serif !important ;
    border: 1px solid #eee;
    border-radius: 2px;
    font-size: 13px;
}

.items-dsc h5 a {
    font-family: "Montserrat", sans-serif !important ;
    font-size: 14px;
    font-weight: 400;
}

.pages.cart-page table tbody tr td, .pages.cart-page table tbody tr td:nth-child(4) strong {
    font-weight: 500!important ;
}

table thead tr th, table td .submit-text > a, table tbody i.mdi-close, table tbody .plus-minus a, table tbody .plus-minus input, .custom-input input, .order-complete table thead tr td, .checkout table thead tr td {
    background: #ffffff none repeat scroll 0 0 !important;
}

.container-body .contact-wrap .contact-center-wrap .contact-form {
    margin-top: 40px;
}

.form-group {
    font-weight: 500;
    font-family: "Montserrat", sans-serif !important ;
    font-size: 14px;
    line-height: 17px;
    margin: 10px 0 15px;
    padding: 0 15px;
}
.is-vertical-flex {
    display: flex;
    flex-direction: column;
}

.form-group label {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}
.body-content--contact label {
    font-weight: 700 !important;
    text-transform: none !important;
}

.form-group .form-control {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 8px;
    font-weight: 500;
    border-radius: 5px;
}

.container-body .contact-wrap .contact-center-wrap .contact-button .btn {
    font-size: 14px;
    padding: 6px 12px;
    color: #fff;
    background-color: #181818;
    border-color: #131313;
    width: 120px;
    height: 36px;
    line-height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
}

.default-btn {
    padding: 10px 80px;
    color: #fff;
    background: #313132;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}

.form-group label .field-required {
    color: red;
}

/* sự kiện click */

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    display: block;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

img.mfp-img {
    width: auto;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: 0;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    color: white;
}
.mfp-arrow-left {
    left: 0;
}
.mfp-arrow {
    position: absolute;
    opacity: .65;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    
    font-style: normal;
    font-size: 20px;
    font-family: Arial,Baskerville,monospace;
}

.glyphicon{
    font-size: 30px;
    
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: .8;
}

.faded{
    display: none;
}

/* dangnhap */
.is-flex {
    display: flex !important;
}

.is-flex-1 {
    flex: 1;
}

.form-group {
    margin: 10px 0 15px;
}

.container-body .checkout_page_header {
    color: #333;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding-left: 0;
    font-weight: 300;
    padding-bottom: 22px;
}

.container-body .membership-page .checkout_page_header a.active, .container-body .membership-page .checkout_page_header a:hover {
    color: #313132;
}

.is-vertical-flex {
    display: flex;
    flex-direction: column;
}

.form-group label {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

element.style {
    text-decoration: underline;
    color: #313132;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}

.hero-items .owl-dots {
	position: absolute;
	left: 110px;
	bottom: 62px;
}

.hero-items .owl-dots button {
	display: inline-block;
	height: 11px;
	width: 11px;
	background: #969D9E;
	border-radius: 50%;
	margin-right: 9px;
}

.hero-items .owl-dots button.active {
	background: #1e1e1e;
}

.hero-items .owl-nav button[type=button] {
	display: inline-block;
	height: 68px;
	width: 68px;
	background: #B0BCC2;
	font-size: 35px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	left: 60px;
	top: 345px;
}

.image3{
        width: 100%    !important;
        height: auto   !important;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 60px;
	display: none;
}

.single-slider-item {
	padding: 270px 0;
	text-align: center;
	height: 100%;
}

.single-slider-item h1 {
	color: #fff;
	font-size: 110px;
	font-weight: 700;
	line-height: 85px;
}

.single-slider-item h2 {
	color: #fff;
	font-size: 96px;
	font-weight: 400;
	margin-bottom: 28px;
}

.single-slider-item .primary-btn,
.single-slider-item h1,
.single-slider-item h2 {
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-items .owl-item.active .single-slider-item h1,
.hero-items .owl-item.active .single-slider-item h2,
.hero-items .owl-item.active .single-slider-item .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-slider-item h1 {
	-webkit-transition: all 0.5s ease 0.4s;
	transition: all 0.5s ease 0.4s;
}

.hero-items .owl-item.active .single-slider-item h2 {
	-webkit-transition: all 0.5s ease 0.6s;
	transition: all 0.5s ease 0.6s;
}

.hero-items .owl-item.active .single-slider-item .primary-btn {
	-webkit-transition: all 0.5s ease 0.8s;
    transition: all 0.5s ease 0.8s;

}
        